#solutions {
  margin-bottom: 1rem;
}

#solutions h2, p {
  text-align: center;
}

#solutions h2 {
  font-size: var(--font-size-h2);
}

.grid-one-wrapper {
  /* height: 70vh; */
  padding: 5rem 0;
  display: flex;
}
/* .grid-wrapper {
  max-width: 1080px;
  margin: 5rem ;
} */

.grid {
  display: grid;
  /* grid-template-columns: minmax(200px, repeat(auto-fill, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  width: 100%;
  row-gap: 2rem;
}

.grid-one {
  display: grid;
  margin: auto;
  /* column-gap: 3.3%; */
  /* grid-template-columns: repeat(3, calc(100% / 3)); */
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  row-gap: 2rem;

  width: 100%;
  /* grid-template-columns: repeat(auto-fit, 350px); */
  /* max-width: 1170px; */
}

.grid-one-card {
  border: 1px solid var(--color-green);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}


.grid-one-card p {
  color: white;
  font-size: var(--font-size-default);
  width: calc(100% - 2rem);
  /* text-align: justify; */
  margin: 0 auto;
  /* font-size: calc(var(--font-size-default) - .2rem); */
}

.grid-one-card h3 {
  font-size: var(--font-size-h3);
  text-transform: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: white;
}

/* .grid-one h3::before {
  float: left;
  font-size: 6rem;
  padding-right: 2rem;
  transform: rotate(12.5deg);
} */

/* .grid-one nav {
  border: 1px solid rgba(0, 0, 0, 0.267);
  padding: 2rem;
  border-radius: 20px;
  max-width: 390px;
} */

/* .grid-one div:nth-child(1) h3:before {
  content: "1";
}

.grid-one div:nth-child(2) h3:before {
  content: "2";
}

.grid-one div:nth-child(3) h3:before {
  content: "3";
} */

@media (max-width: 1100px) {
  html {
    font-size: 55%;
  }
}