.grid-wrapper {
  /* width: 80%; */
  max-width: 1080px;
  margin: 5rem auto;
}

.grid {
  display: grid;
  /* grid-template-columns: minmax(200px, repeat(auto-fill, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  width: 100%;
  row-gap: 2rem;
}

.container-card {
  display: flex;
  justify-content: center;
}
#depositions{
/* background: cyan; */
}

#depositions h2 {
  /* text-align: center; */
}