@media (max-width: 1040px) {

  .content-1 {
    display: flex;
    flex-direction: row;
  }

    /* #intro > .content-1 {
      margin-top: 3vh;
    }

  #intro h1 {
    padding-bottom: 3rem;
    max-width: 90%;
    text-align: center;
  }

  .intro-content-1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .intro-content-1 p {
  width: 90%;
  }*/

  /* #intro {
    height: max-content;
  }  */
   /* #intro .content-1 {
    padding: 5rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: max-content;
    width: 100%;
    min-height: 85vh;

    padding: 10vh 0;
  }  */
  #intro img {
    /* flex-shrink: 2; */
    margin-bottom: 2rem;
  }
  .intro-content-1 {
    /* width: 100%; */
    padding-right: 2rem;
  }
  /* #intro > .content-1 > #intro-content-1 > h1 {
    font-size: 3.8rem !important;
    padding-bottom: 3rem;
    max-width: 100%;
    text-align: center;
  } */
  #intro .content-1 img {
    max-width: 53%;
    /* width: 53%; */
  }
}