.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  transition: opacity 0.3s ease-in-out;
  padding: 2rem 0;
}
 
.opacity-8 {
  opacity: .8;
}
.opacity-9 {
  opacity: .9;
}


/* .menu-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-size: var(--font-size-menu);
  height: min-content;
  position: relative;
  margin-bottom: 1.5px;
} */

.img-logo {
  width: 60%;
}

/* .menu-title::after {
  content: 'Acessoria';
  position: absolute;
  font-size: calc(.8rem + 0.1vw);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  bottom: -5px;
} */

nav .menu-title-lower {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.1px;
}

.link-menu {
  /* letter-spacing: 2px; */
  font-weight: 600;
  cursor: pointer;
}

/* .menu-icon {
  color: white;
  font-size: var(--font-size-menu);
} */


.menu > nav {
  display: flex;
  /* width: 84%; */
  /* max-width: calc(var(--max-width-all) - 6%); */
  width: 90%;
  max-width: var(--max-width-all);
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}


.menu a {
  /* color: #121f49; */
  color: white;
  text-decoration: none;
  transition: ease-in-out 0.5s;
  text-transform: none;
}

.menu h1 a {
  padding-left: 0;
  transition: opacity 100ms ease-in-out;
}


.menu ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  display: block;
  color: white;
  /* font-size: 1.8rem; */
  text-decoration: none;
  position: relative;
  transition: all 100ms ease-in-out;
}


.menu ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 0.2rem;
  /* background: crimson; */
  /* background: rgba(41, 221, 80, 0.986); */
  background: var(--color-green);
  border-radius: 15px;;
  transition:  all 300ms ease-in-out;
  z-index: 99;
}

.menu ul li a:hover::after {
  width: 80%;
  left: 10%;
  opacity: 1;
}

.menu:hover {
  opacity: 1;
}

.menu h1 > a:hover {
  opacity:1;
}

.menu ul li a:hover {
  opacity: 1;
}

@media only screen and (max-width: 410px) {

  .menu ul li a {
    font-size: 1.5rem;
  }
  /* .menu > nav {
    gap: 2rem;
  }
  .menu > nav, .menu ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-title {
    display: flex;
    justify-content: center;
  } */
}