#intro {
  padding-top: 0 !important;
  max-height: max-content !important;
}

#intro .content-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  color: black;
}

/* .intro-content-1 {
  width: 45%;
} */

.intro-content-1 h1, .intro-content-1 h1>strong {
  font-size: var(--font-size-h1);
  padding-bottom: 3rem;
  max-width: 600px;
  color: white;
  /* max-width: 90%; */
  text-transform: none;
}

.intro-content-1 strong {
  color: var(--color-green) !important;
}

.intro-content-1 > p{
  color: white;
  text-align: left;
  margin: 2.5rem auto;
  text-wrap: pretty;
}
/* .intro-content-1 ul {
  list-style-type: none;
}
.intro-content-1 ul li {
  position: relative;
  padding-left: 4rem;
}
.intro-content-1 ul li::before {
  position: absolute;
  content: '';
  background-color: var(--color-blue);
  width: 1.5ch;
  height: 1.5ch;
  border-radius: 50%;
  top: .5ch;
  left: 0;
} */


#img-1 {
  width: 53%;
}



@media (max-width: 870px) {
  .grid-one {
    display: block;
  }
  .grid-one nav {
    padding-bottom: 2rem;
  }
  h2 {
    text-align: center !important;
  }
}
@media (max-width: 800px) {
  /* main section {
    padding-top: 7rem;
  } */
  #intro .content-1 {
    padding: 0 0 4rem 0;
  }
  #intro .content-1 img {
    padding-top: 2rem;
  }
}
@media (max-width: 480px) {
  
}